<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fakturica | Invoice History</title>
    <style>
        table {
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid black;
        }

    </style>
</head>
<body>

<h2>Invoice History</h2>
<table>
    <thead>
    <th>Invoice id</th>
    <th>Goods</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Price</th>
    <th></th>
    </thead>

    <tbody>
    <tr th:each="invoice : ${invoices}">
        <td th:text="${invoice.id}"></td>
        <td th:text="${invoice.goods}"></td>
        <td th:text="${invoice.amount}"></td>
        <td th:text="${invoice.date}"></td>
        <td th:text="${invoice.price}"></td>
        <td><a th:href="@{/user/create-pdf/{id}(id=${invoice.id})}">Create PDF</a>
            <a th:href="@{/user/show-pdf/{id}(id=${invoice.id})}">Show PDF</a></td>
    </tr>
    </tbody>
</table>
<br><br>
<a th:href="@{/user/main}">Back to main page</a>


</body>
</html>